// @import './variables';
// @import './mixins';
// body {
//     font-family: Arial, sans-serif;
//     background-color: $background-color;
//     color: $text-color;
//     margin: 0;
//     padding: 0;
// }
// .container {
//     @include flex-center;
//     flex-direction: column;
//     padding: 20px;
// }
@import './variables.scss';
body {
    background: url('./images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    color: $text-color;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}