.todo-input {
    margin-bottom: 2rem;
    input {
        width: 100%;
        padding: 1rem;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 1rem;
    }
}