$primary-color: #3a7bfd;
$background-color: #f2f2f2;
$text-color: #333;
// variables.scss
$background-color: #161722;
$todo-bg: #25273c;
$todo-item-bg: #393a4c;
$text-color: #cacde8;
$completed-text-color: #4d5067;
$footer-bg: #25273c;