@import './variables';
.app {
    text-align: center;
    background: url('./images/bg-desktop-dark.jpg') no-repeat top center;
    // background-size: cover;
    background-color: $background-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: $text-color;
    padding-top: 100px;
    .app-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        max-width: 800px;
        h1 {
            font-size: 2rem;
        }
        .theme-toggle {
            background: none;
            border: none;
            cursor: pointer;
        }
        .new-todo {
            display: flex;
            align-items: center;
            width: 100%;
            margin-top: 20px;
            input {
                padding: 0.5rem;
                font-size: 1rem;
                margin-right: 0.5rem;
                width: 100%;
                background-color: $input-bg-color;
                color: $input-text-color;
                border: 1px solid $border-color;
            }
            button {
                padding: 0.5rem 1rem;
                font-size: 1rem;
                cursor: pointer;
                background-color: $button-bg-color;
                color: $button-text-color;
                border: none;
            }
        }
    }
}

.todo-list {
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
    .todo-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        .completed {
            text-decoration: line-through;
            color: $completed-text-color;
        }
        button {
            background: none;
            border: none;
            color: red;
            cursor: pointer;
        }
    }
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        font-size: 0.9rem;
        color: $text-color;
        .filters {
            display: flex;
            gap: 10px;
            button {
                background: none;
                border: none;
                color: $text-color;
                cursor: pointer;
                &.active {
                    font-weight: bold;
                }
            }
        }
        .clear-completed {
            background: none;
            border: none;
            color: $text-color;
            cursor: pointer;
        }
    }
    .drag-and-drop {
        text-align: center;
        color: $text-color;
        margin-top: 20px;
    }
}