$background-color: #25273c;
$text-color: #c8cbe7;
$completed-text-color: #4d5066;
$button-bg-color: #3a3a52;
$button-text-color: #ffffff;
$input-bg-color: #2d2e40;
$input-text-color: #ffffff;
$border-color: #3a3a52;